@{
    ViewData["Title"] = "Informace jak se přihlásit";
}
<h1>@ViewData["Title"]</h1>

<h2>Student</h2>
<li>Přihlašovací jméno: student</li>
<li>Heslo: Student123?</li>
<li>Právo jen nahlížet</li>
<h2>Učitel</h2>
<li>Přihlašovací jméno: ucitel</li>
<li>Heslo: Ucitel123?</li>
<li>Omezená práva na editaci, vytváření a mazání</li>
<h2>Admin</h2>
<li>Přihlašovací jméno: admin</li>
<li>Heslo: Admin123?</li>
<li>Neomezená práva - prosím s rozumem </li>